.footer-title {
    background-color: #795548;
    padding:15px;
}

.kv-footer {
    padding: 5px;
    font-family: kvfont003;
    letter-spacing: 1.2px;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: #333;
    text-align: center;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}